h1,h2{
    color:rgb(250, 250, 170);
    margin:0;
    background-color: #edd27eff
}
h1{
        text-align: center;
}
h2{
        text-align: center;
}
body {
        background-color:#eaecefef
}

.header{
            background-color: rgb(221, 226, 179);
            height: 70px;
}
h3{
        color: #e9d060
}
h2{
        color: #b7b7b7;
}
