h1{
    color:rgb(238, 238, 133);
    background-color: rgb(207, 207, 247);
}
body {
        background-color:rgb(165, 194, 233);
}

.header{
            background-color: rgb(221, 226, 179);
            height: 70px;
}
h3{
        color: rgb(223, 212, 100);
}